
.form {
    display: flex;
    align-items: center ;
    gap: 30px;
}

.textarea {
    width: 350px;
    height: 100px;
}

.addButton {
    width: 10%;
    padding: 10px 15px;
    border-radius: 15px;
}