

.container {
    padding: 30px 15px;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    gap: 15px
}

.title {
    margin-bottom: 20px;
    font-family: Muller;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.form {
    display: flex;
    align-items: center ;
    gap: 30px;
}

.textarea {
    width: 350px;
    height: 100px;
}

.addButton {
    min-width: 130px;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.btnReset {
    outline: none;
    border: none;
}

.addButton:hover {
    background-color: gold;
    transform: scale(1.1);
}

.addButton:active {
    outline: 1px solid blue;
}

.addButton:focus {
    outline: 2px solid blue;
    transform: scale(1.1);
}