

.item {
    padding: 25px;
    background-color: white;
    width: 50%;
}

.descr {
    color: red;
    font-family: Muller;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.count {
    color: blue;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}