
.textarea {

}

.input {
    width: 350px;
    height: 30px;
}

.formControl {

}

.error {
    border: 4px solid red;
    border-radius: 10px;
}

.errorWrapper {
    padding: 5px;
    width: max-content;
    /* background-color: white; */
}

.formControl span {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.formSummaryError {
    display: inline-block;
    padding: 5px;
    border: 1px solid red;
}