.textareaForm {
    padding: 10px;
    width: 100%;
    height: 80px;
    resize: none;
    border-radius: 15px;
}

.addButton {
    width: 130px;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.btnReset {
    outline: none;
    border: none;
}


.addButton:hover {
    background-color: gold;
    transform: scale(1.05);
}

.addButton:active {
    outline: 1px solid blue;
}

.addButton:focus {
    outline: 2px solid blue;
    transform: scale(1.1);

}