
.maintitle {
    padding-left: 30px;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.dialogsWrapper {
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding: 30px;
}

.dialogList {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dialogLink {
    display: flex;
    gap: 30px;
    align-items: center;
}

.avatarPic {
    width: 80px;
    height: 80px;
}

.userText {
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}